@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{   
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>

    <div class="form-group" style="width:100%; display:flex; justify-content:center;">
        <a type="submit" class="btn btn-primary" asp-controller="Vehicle" asp-action="ShowVehicle" style="margin:10px">My Vehicles</a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Login or Register to Manage Your Vehicles.</p>
        <a type="submit" class="btn btn-primary" asp-controller="Account" asp-action="Login" style="margin:10px">Login</a>
        <a type="submit" class="btn btn-primary" asp-controller="Account" asp-action="Register" style="margin:10px">Register</a>
    </div>
}

